// set text color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// transform mixin
@mixin transform($property) {
  --webkit-transforrm: $property;
  -ms-transform: $property;
  transform: $property;
}